{% extends "default.html" %}
{% block pagetitle %}Contatti{% endblock %}
{% block bodybaronair %}
{% endblock %}

{% block bodyheader %}{% endblock %}

{% block content %}
<article>
    <h2>Contatti</h2>
    <p></p>
    	
		<p>
            Direzione artistica<br />
             <a href="mailto:dir.art@radiocicletta.it">dir.art@radiocicletta.it</a> <br />
        </p>
		<p>
            Segreteria<br />
            <a href="mailto:segreteria@radiocicletta.it">segreteria@radiocicletta.it</a> <br />
       
        </p>
 		<br />	
 		
		<p>
			COLLABORA CON RADIOCICLETTA! Sei un’etichetta discografica , una press agency o un'agenzia di promozione musicale? Inviaci brani, press kit, proposte di media-partnership e tutto il materiale che vorresti diffondere. 
			La redazione musicale di Radiocicletta seleziona e promuove 
			le iniziative più interessanti, sostenendo label indipendenti e non, 
			grazie alla messa in rotazione di brani musicali, ad interviste agli artisti ed 
			all’organizzazione di eventi culturali. Contattaci..
			<br/>
			<br/>           
            Ufficio Stampa<br />
            <a href="mailto:ufficiostampa@radiocicletta.it">ufficiostampa@radiocicletta.it </a> <br />
		</p>
        <br />
        
		<p>
            Ufficio Eventi<br />
            <a href="mailto:dir.art@radiocicletta.it">eventi@radiocicletta.it </a><br />
		<br />
		</p>
            
    <p>
	
    </p>
</article>
{% endblock %}
