{% extends "default.html" %}
{% block pagetitle %}Contatti{% endblock %}
{% block bodybaronair %}
{% endblock %}

{% block bodyheader %}{% endblock %}

{% block content %}
<article>
    <h2>Contatti</h2>
    <p></p>
    	
		<p>
            Direzione artistica<br />
             <a href="mailto:dir.art@radiocicletta.it">dir.art@radiocicletta.it</a> <br />
        </p>
		<p>
            Segreteria<br />
            <a href="mailto:segreteria@radiocicletta.it">segreteria@radiocicletta.it</a> <br />
       
        </p>
 		<br />	
 		
		<p>
            Ufficio Stampa<br />
            <a href="mailto:ufficiostampa@radiocicletta.it">ufficiostampa@radiocicletta.it </a> <br />
		</p>
        <br />
        
		<p>
            Ufficio Eventi<br />
            <a href="mailto:dir.art@radiocicletta.it">eventi@radiocicletta.it </a><br />
		<br />
		</p>
            
    <p>
	
    </p>
</article>
{% endblock %}
